#navBar1ID {
	margin: auto;
}

#navBarTop1ID, #navBarBottom2ID {
	font-size: 3em;
}

#backDivID, #nameDivID  {
	position: relative;
	left: 50px;
	top: 15px;
	width: 50%; /*20%*/	
}

#nameDivID {
	overflow:visible;
	padding-top:10px;
	padding-left:10px;
}
#indexPageID {
	/*border: 1px solid #432543;*/
	height: 100%;
	overflow: visible;
}

#ui-btn {
	z-index: 1;
}

/* ----------------------------------------------- */
/* --- CSS for privacy_custom.html starts here --- */
/* ----------------------------------------------- */

body {
    background-color: #EEEEEE;
	width: 720px;
	height: 1200px;
	position: relative;
}

#body-container {
	overflow: hidden;
}

#box-container {
	position: absolute;
	top: 172px;
	left: 450px;
	width: 720px;
	height: 800px;
	overflow: hidden;
}

#drag-destination {
	position: relative;
	top: 200px;
	height: 420px;
	padding: 15px;
	background-image: url(../images/thebox.png);
	background-repeat: no-repeat;
}

#sortable1, #sortable2 { 
	list-style-type: none;
	margin: 0;
	padding: 1em;
	float: left;
	margin-right: 10px;
}

#sortable1 li, #sortable2 li {
	margin: 0 5px 5px 5px;
	padding: 5px;
	font-size: 1.2em;
	width: 200px;
}
