#newsListID { 
	list-style-type: none; 
	margin: 0; 
	padding: 0; 
	width: 60%; 
}

#newsListID li { 
	/*margin: 0 3px 3px 3px;*/
	padding: 0.4em; 
	padding-left: 1.5em; 
	font-size: 1.4em; 
	height: 18px; 
	margin: auto;
}

#newsListID li span { 
	position: absolute; 
	margin-left: -1.3em; 
}

#newsDivID {
	overflow: scroll;
	margin: auto;
	/*border: 1px solid #874635;*/
}

#newsContentID {
	/*border: 1px solid #123456;*/
	position: relative;
	top: 10px;
}