#pageID {
	width: 100%;
}

#navBarID {
	margin: auto;
}

#contentID {
	position: relative;
	left: 40px;
	width: 20%;
}


#circle {
display: block; 
margin-left: auto; 
margin-right: auto;
position: absolute;
left: 100px;
top:420px;

}

#custom {

display: block; 
margin-left: auto; 
margin-right: auto;
height:50px;
width:100px;
float: bottom;
}


#pageID {
height: 300px;
width: 500px;
z-index:2;
position:absolute;
opacity: 0.0;
}

#contentID {
height: 500px;
}