#pageID {
	width: 100%;
}

#navBarID {
	margin: auto;
}

#contentID {
	position: relative;
	left: 50px;
	width: 20%;
}

#nameDivID {
	position: relative;
	left: 50px;
	width: 20%;
}
