#navBar1ID {
	margin: auto;
}

#navBarTop1ID, #navBarBottom2ID {
	font-size: 3em;
	
}

#backDivID, #nameDivID  {
	position: relative;
	left: 50px;
	top: 15px;
	width: 50%; /*20%*/
	
	
}
#nameDivID{
overflow:visible;
padding-top:10px;
padding-left:10px;

}
#indexPageID {
	/*border: 1px solid #432543;*/
	height:100px;
	overflow: visible;
}
body {
    background-color: #EEEEEE;
	width:720px;
	height: 1200px;

	position:relative;
}


#feed {
position: absolute;
margin:auto;
left:20px;


}
#bodywrapper {
overflow:hidden;
    border-color: green;

}
