body {
    background-color: #EEEEEE;
	width:720px;
	height: 1280px;

	position:relative;
}

#newsListID { 
	list-style-type: none; 
	margin: 0; 
	padding: 0; 
}

#newsListID li { 
	/*margin: 0 3px 3px 3px;*/
	padding: 0.4em; 
	padding-left: 1.5em; 
	font-size: 1.4em; 
	height: 18px; 
	margin: auto;
}

#newsListID li span { 
	position: absolute; 
	margin-left: -1.3em; 
	
}

#newsContentID {

width:100%;


}

#newsDivID {
	overflow: visible;
	position:absolute;
	width: 100%;
	/*border: 1px solid #874635;*/
	border-style: solid;
}

#newsContentID {
	/*border: 1px solid #123456;*/
	position: relative;
	top: 10px;
}
.ui-state-default {
	width:100%;


}
#defHeader3ID {
width:720px;


}